<footer class="bg-body-tertiary text-center text-lg-start w-100 position-absolute top-100 ">
    <!-- Copyright -->
    <div class="text-center p-3 opacity-75" style="background-color: rgba(33, 33, 33, 0.364);">
      Made by : HemantSingh2070
    </div>
    <!-- Copyright -->
  </footer>
