<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./Partials/head') %>
    <title>Write New Blog</title>
</head>
<body>
    <%- include('./Partials/nav') %>
    <div class="container mt-4">
        
        <form class="form-floating mt-4 mb-4" method="post" action="/blog/addBlog" enctype="multipart/form-data">
            <input type="text" class="form-control" placeholder="Title" id="title" name="title">
            <label class="opacity-75" for="title">Title</label>
            
            <div class="form-floating mt-4 mb-4">
                <textarea rows="5" class="form-control w-100" placeholder="Write your content here" id="content" name="content"></textarea>
                <label class="opacity-75" for="content">Write here ...</label>
            </div>
            <figcaption class="blockquote-footer">
                Markup Lanugage Can Be Used Here For Decoration.
            </figcaption>
            
            <div class="mb-3">
                <label for="formFile" class="form-label">Input the cover image.</label>
                <input class="form-control" type="file" id="formFile" name="coverImage">
            </div>
            
            <button type="submit" class="btn btn-success ">Submit</button>
        </form>
        

    </div>
</body>
<%- include('./Partials/scripts') %>
</html>